doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/application.css')
    link(rel='stylesheet', href='/datepicker.css')
    script(type='text/javascript', src='/application.js')
    script(src='http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU', type='text/javascript')
  body
    block content
