<div class="container">
    <div class="head-contacts">
        <h1>Contacts:</h1>
    </div>

    <div class="contact-text span5">
        <div class="span12">
            <span class='red'>Address:</span> st. Schadenko 69  
        </div> 

        <div class="span12 not-margin">
           <span class='red'>Phone:</span> +7 (918) 506-36-50 
        </div> 

        <div class="span12 not-margin">
           <span class='red'>Email:</span> rusrisius@gmail.com 
        </div> 

        <div class="span12 not-margin">
            <span class='red'>Social:</span> <a href="http://vk.com/club48669276">VKontakte</a>
        </div> 

        <div class="span12 not-margin">
            <span class='red'>Marketplaces:</span> <a href="https://www.odesk.com/o/companies/_~012039251b63142ff2/"><img src="img/odesk.png" class="logo" /> Odesk</a>, 
            <a href="https://www.elance.com/s/jedius/about/"><img src="img/elance.png" class="elance-logo" />Elance</a>
        </div> 


        <div class="span12 not-margin">
            <span class='red'>Repositories:</span> <a href="https://bitbucket.org/rusrise"><img src="img/bitbucket.jpg" class="logo" /> Bitbucket</a>,
            <a href="https://github.com/Jedius"><img src="img/github.jpg" class="logo" /> Github</a>
        </div> 

    </div> 


        <div class="span3 not-margin">
            <div id="map" style ="height:250px; width:250px">
            </div>
        </div> 

</div> 

