<!--<div class="main fix homePage">-->
<div class="layout">
    <div id="myCarousel" class="carousel slide span12" style="">
        <div id="forSlider">
          <div id = "slider" class="span12 carousel-inner" style="">
            <div class="active item" ><img style="width:100%; height: 100%;" src="img/example-slide-2.jpg" /></div>
            <div class="item"><img class="slideImg" style="width:100%; height: 100%;"  src="img/example-slide-3.jpg"/></div>
            <div class="item"><img class="slideImg" style="width:100%; height: 100%;" src="img/example-slide-4.jpg"/></div>
          </div>

          <a class="buttonPrev" style="position: absolute; top:0px; left:0px; width:70px; height:350px" href="#myCarousel" data-slide="prev" ></a>
          <a class="buttonPrev" style="position: absolute; top:px; right:0px; width:70px; height:350px" href="#myCarousel" data-slide="next"></a>
        </div>
    </div>

<!-- <div class="span12 not-margin newsPortfolioContainer" > -->

    <div class="about-us">
        <div class ="span12 articleone" style="margin-left: 0"><!-- <img src="images/web.jpg" class="img-article"> -->
          <div class="span6 about-article">
            <h3 class="web_content">Web Development</h3>
            <span class="web_text">We are working with new technologies, so we use Node.js.</span> 
            <br />
            <span class="web_text">We develop complex web applications are optimized for phones and tablets.</span>
          </div>
        </div>
        <div class ="span12 articletwo" style="margin-left: 0"><!-- <img src="images/mobile.jpg" class="img-article"> -->
            <div class="span6 about-article">
            <h3 class="web_content">Mobile Development</h3>
            <p>We use HTML5, CSS and JavaScript to develop applications that run natively on the Apple iOS and Google Android mobile platforms.</p>
            </div>
        </div>    
        <div class ="span12 articlethree" style="margin-left: 0"><!-- <img src="images/game.png" class="img-article"> -->
            <div class="span6 about-article">
            <h3 class="web_content">Game Design</h3>
            <p>Design and redesign of existing concepts and graphics of games, game levels, gameplay, style, plot, logos, web design, animation.</p>
            </div>
        </div>
    </div>
    

    <!-- <div class="newsPortfolioContainer" style="background-color: #1C1C1C"> --> 
    <div class="span12 portfolioContainer" style="margin-left: 0"><!-- <img src="images/portfolio.jpg"> --> 
      <div class="span6 pf_text">
        <h3>Check our portfolio</h3>
        <span>In this section you can</span>
        <br />
        <span>see some examples of our work.</span>
        <br />
        <a style="margin-top: 20px" class="btn btn-large home-button" href="/#projects">Portfolio</a>
      </div>
    </div>
    
    <div class="span12 newsContainer" style="margin-left: 0"><!-- <img src="images/members.jpg"> -->
      <div class="span6 mem_text">  
        <h3>Wall of Employes</h3>
        <span>In this section you can find a guy for a work you need to be done.</span>
        <br />
        <a style="margin-top: 20px" class="btn btn-large home-button" href="/#members">Members</a>
      </div> 
    </div>
    <!-- </div> -->


    <!--<div class="span8" style="margin: 50px 20px 0 30px">-->
        <!--<h2>We work on online marketplace:</h2>-->
    <!--</div>-->
    <br />
    <div align="center">
        <div class="span9 marketplaceImg">
            <div class="span1">
                <img class="technology-logo" src="img/label/angular.png" title="angular.js" />
            </div>
            <div class="span1">
                <img class="technology-logo" src="img/label/ajax.jpg" title="AJAX" />
            </div>
            <div class="span1">
                <img class="technology-logo" src="img/label/appcelerator.png" title="appcelerator" />
            </div>
            <div class="span1">
                <img class="technology-logo" src="img/label/backbone.png" title="backbone" />
            </div>
            <!-- <div class="span1">
                <img class="technology-logo" src="img/label/bootstrap.png" title="bootstrap" /> 
            </div> -->
            <div class="span1">
                <img class="technology-logo" src="img/label/canvas.png" title="canvas" />
            </div>
            <div class="span1">
                <img class="technology-logo" src="img/label/meteor.jpeg" title="meteor" />
            </div>
            <div class="span1">
                <img class="technology-logo" src="img/label/html5.png" title="html5" />
            </div>
            <!-- <div class="span1">
                <img class="technology-logo" src="img/label/jquery.jpg" title="jquery" />
            </div> -->
            <div class="span1">
                <img class="technology-logo" src="img/label/mongo.png" title="mongo" />
            </div>
            <div class="span1">
                <img class="technology-logo" src="img/label/nodeJs.png" title="node" />
            </div>
            <div class="span1">
                <img class="technology-logo" src="img/label/redis.png" title="redis" />
            </div>
        </div>
    </div>

    <footer class="footer span12 not-margin">
        <div class="span3 not-margin">
            RusRise
            <br />
            Russia, Taganrog
            <br />
            st. Schadenko 69
        </div>
        <div class="span2 not-margin">
           
        </div>
        <div class="span3 not-margin">
            CEO
            <br />
            +7 (918) 588-48-91
        </div>
        <div class="span2 not-margin">
           
        </div>
        <div class="span3 not-margin">
            CTO
            <br />
            +7 (918) 506-36-50
        </div>
    </footer>

</div>
<!--<div class = "span12" style="margin-top:100px" align="center">-->
    <!--<a class="btn" href="/#dialog">start conversation <i class="icon-pencil"></i></a>-->
<!--</div>-->
