<div class="container">
    <div class="row-fluid">
        <form class="form-horizontal member-form span12">
            <fieldset>
                <legend class="color-white">Profile</legend>
                <br/>

                <div class="row">
                    <div class="span8 detailsMember">
                        <div class="control-group">
                            <label for="name" class="control-label red bold">Name:</label>

                            <div class="controls">
                                <input type="text" id="name" name="name" value="<%= member.name %>"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="name" class="control-label lightred bold">Surname:</label>

                            <div class="controls">
                                <input type="text" id="surname" name="surname" value="<%= member.surname %>"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="country" class="control-label bold red">Country:</label>

                            <div class="controls">
                                <input type="text" id="country" name="country" value="<%= member.country %>"/>
                                <span class="help-inline"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="region" class="control-label red bold">City:</label>

                            <div class="controls">
                                <input type="text" id="region" name="region" value="<%= member.region %>"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="experience" class="control-label red bold">Experience:</label>

                            <div class="controls">
                                <input type="text" id="experience" name="experience" value="<%= member.experience %>"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="profession" class="control-label red bold">Profession:</label>

                            <div class="controls">
                                <input type="text" id="profession" name="profession" value="<%= member.profession %>"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="birthYear" class="control-label red bold">Year of Birth:</label>
                            <div class="controls">
                                <select class="input-small" id="birthYear" name="birthYear" value="<%= member.birthYear %>">
                                    <% for(var i=2013; i>1900 ;i--) {%>
                                        <option <% if (member.birthYear == i) {%>selected<%}%>> <%= i %> </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="description" class="control-label red bold">Description of the knowledge and skills:</label>

                            <div class="controls">
                                <textarea id="description" type="text" name="description" style="width: 90%; resize: none; margin:none" rows="6"><%= member.description%></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="span4">
                        <div class="well" style="width: 180px;text-align: center;width:50%;margin: 0px auto;">
                            <p><img id="picture" width="180" src="<%= !member.picture ? 'img/proger.png' : member.picture %>"/></p>
                            <p style="color:#999;">To change the picture, drag a new picture from your file system onto the box above.</p>
                        </div>
                    </div>

                </div>

            </fieldset>
                
                <%if (user.id){%>
                <div class="form-actions">
                    <a href="#" class="btn btn-primary save">Save</a>
                    <a href="#" class="btn delete">Delete</a>
                </div>
                <%}%>
        </form>

    </div>

    <div class="row-fluid status-bar">
        <div class="span12">
            <div class="alert alert-success" style="display: none">
                <b>Success!</b> Wine saved successfully
            </div>
        </div>
    </div>
</div>
