<a href="#members/<%= model._id %>" class="thumbnail plain" style="text-align: center;">
    <div class="listItemContaner">
        <img src=<% if(!model.picture){%>'img/proger.png'<%}else{ %><%=model.picture%><% } %> alt="" class="photoimg">
        <div class="listItemData">
            <%= model.name %> <%= model.surname %>
            <br/>
            <h5><%= model.region %>, <%= model.country %></h5>
        </div>
    </div>
</a>
