<div class="navbar">
    <div class="navbar-inner conainer navbar-fixed-top">
        <div class="row-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#home"> <img style="height: 40px;" src="img/BigRUSRISE.png" > <a>
            <a class="brand brand-word" href="#home">RusRise</a>
            <div class="nav-collapse collapse">
                <ul class="nav nav-team pull-right" >
                    <% if(user.id){ %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Members
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="members-menu"><a href="#members">See team members</a></li>
                            <li class="addmembers-menu"><a href="#members/add">Add team members</a></li>
                        </ul>
                    </li>
                    <% }else{ %>
                        <li><a class="members-menu" href="#members">Members</a></li>
                        <li class="divider-vertical" height="55px"></li>
                    <% } %>
                    <li><a class="home" href="#home">Home</a></li>
                    <li class="divider-vertical"></li>
                    <li><a class="projects" href="#projects">Portfolio</a></li>
                    <li class="divider-vertical" ></li>
                    <!-- <li><a class="services" href="#services">Services</a></li>  
                    <li class="divider-vertical"></li> -->
                    <li><a class="contacts" href="#contacts">Contacts</a></li>
                    <!-- <li class="divider-vertical"></li> -->
                    <!-- <li><a class="news" href="#news">News</a></li>
                    <li class="divider-vertical"></li> -->
<!--                     <% if (user.id) { %>
                        <li><a href="/logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="#login">Login</a></li>
                    <% } %>
 -->                    
                </ul>
            </div>
        </div>
    </div>
</div>

