<div class="container">
    <div class="main fix span12">
        <div class="forProjectForm">
            <form class="projectForm form-horizontal span12"  enctype="multipart/form-data" method="POST">
                <div class="span12 about_inp">
                    
                    <div class="control-group">
                        <label for="projectName" class="control-label">Name:</label>
                        <div class="controls">
                            <input class="about_text big_box " type="text" name="projectName" required/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    
                    <div class="control-group">
                        <label for="projectUrl" class="control-label"> Link to the project:</label>
                        <div class="controls">
                            <input class="about_text big_box " type="text" value="http://" name="projectUrl" />
                            <span class="help-inline"></span>
                        </div>
                    </div>  

                    <div class="control-group">
                        <label for="projectDescription" class="control-label">Description:</label>
                        <div class="controls">
                            <textarea name="projectDescription" class="about_text text_box" rows="5" cols="5" ></textarea>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="imgFile" class="control-label">Icon:</label>
                        <div class="controls">
                            <input id="forFile" type="file" class="about_text big_box " name="imgFile" accept="image/*" required/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <!--<div class="control-group">-->
                        <!--<label for="files" class="control-label">Images:</label>-->
                        <!--<div class="controls" >-->
                            <!--<input id="forFiles" type="file" min="1" max="9999" name="files" accept="image/*" multiple="true" required/>-->
                            <!--<span class="help-inline"></span>-->
                        <!--</div>-->
                    <!--</div> -->

                    <div class="span12" id="img-container">
                        <ul id="img-list" class="nav"></ul>
                    </div>

                </div>
                <div>
                    <input class="okay_button btn " type="submit" value="okay"/>
                    <input class="cancel_button btn " type="reset" value="cancel"/>
                </div>
            </form>
        </div>
    </div>
</div>
