<%console.log('userintemol',user)%>
<div class="content-portfolio ">
    <div class="header-portfolio-content">
        <h1>Our projects</h1>
    </div>
    <div class="side_img fix floatleft create-project-button">
        
    </div style="width:100%; clear:both"/>
    <div>
    <div class="mini-projects">
        <% for (var p in projects) { %>
            <div _id="<%= projects[p]._id %>" class="project  oneProject single_promo fix" >
                <div class = "description-window"  id="<%="div" +  projects[p]._id %>">
                    <%if (user.id){%>
                    <div class="delete-project"> <img src="/images/bitbucket.jpg" 
                        class="icon-trash icon-white" id="<%= projects[p]._id %>"/></div>
                    <%}%>
                        <div class="trans">
                                <p class="description"><%= projects[p].projectDescription %></p>
                            <a href='<%= projects[p].projectUrl %>'>
                                <button class = "Details" value="Details">Details
                                <img src="/img/plus1.jpg" class="Details_image">
                                </button>
                            </a>
                        </div>
                </div>
                <h2> <%=projects[p].projectName %></h2>
                <div class="fix floatleft min-image-div" align="center">
                    <% console.log('projects[p].imageCount', projects[p]) %>
                    <img class="projavatar" src="<%= 'images/'+ projects[p]._id + '.jpg' %>" />
                </div>
                <div class="fix span7">
                </div>
            </div>
        <% } %>
    </div>
    <div style="width:100%; clear:both"/>
    <%if (user.id){%>    
        <a class="floatright7"   href="#post">add project</a>
    <%}%>
</div>
