<div class="main fix">
    
        <%if(user.email){%>
            <button id="<%=project._id%>" class="delproj floatright btn btn-danger" > Delete </button>
        <%}%>
    </div>

</div>
