/*Default Layout: 992px.*/
.main{width:960px}
#nav{display:block}
.selectnav{display:none}
/*********************About Page CSS*******************/
.home_left{width:500px}
.home_right{width: 450px;margin-top: 40px;}
.home_content{margin-top: 300px;}
.home_logo{float: right;}
.home_content p{text-align:justify}
.home_content h2{margin-bottom: 20px;font-weight: normal;font-size: 30px;font-family: tahoma;}
/*********************Project Page CSS*******************/
.header_content{width:300px}
.boy_img{width:300px}
.side_img{width:355px}
.single_content{padding: 10px;width: 750px;}
.boy_img img{margin-left: 10px;}
.header_content h2{margin-top: 100px;padding-left: 110px;}
.side_img img{margin-left: 190px;margin-top: 70px;}
.single_img{width:155px}
.single_img img{box-shadow: 5px 5px 5px #666666;margin-left: 0px;margin-top: 5px;padding: 10px;}
.single_content p{text-align:center}
/*********************Invite Page CSS*******************/
.invite_inp{width: 100px;margin-left: 120px;}
textarea{border: 1px solid #666666;margin-left: 57px;margin-top: 40px;padding: 5px;width: 260px;}
.invite_email{margin: 10px 10px 10px 57px;padding: 5px;width: 260px;}
.post_button{margin-left: 220px;margin-right: 57px;margin-top: 15px;}
.okay_button{cursor:pointer; margin-right:10px; }
.cancel_button{cursor:pointer;}
/*********************Fund Page CSS*******************/
.post_heading{margin-right: 250px;margin-top: 115px;}
.post_heading h2{margin-left: 220px;}
.post_single{border: 1px solid #666666;box-shadow: 5px 5px 5px #797979;margin: 15px auto;padding: 24px;width: 800px;}
.post_img img{margin-left: 10px;}
.nnew img{}
.post_footer{padding:60px}
.for_pay{margin-top: 20px;}
.post_img{}
/*********************Login Page CSS*******************/
.header_content h2{margin-top: 100px;padding-left: 110px;}
.signup_area {margin-left: 270px;margin-top: 80px;}
.social_bookmarks {float: right;margin-top: 82px;margin-right: 80px;}
.login_area{margin-right: 250px;margin-top: 50px;}
.social_bookmarks img{ margin-right: 10px;}
/*********************Post Page CSS*******************/
.about_inp{width: 880px;}
.post_border{border: 1px solid #A8A8A8;padding: 10px;}
.small_box{width: 75px;}
.text_box{width: 285px;}




/*Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
.main{width:750px}
#nav{display:block}
.selectnav{display:none}
/*********************About Page CSS*******************/
.home_left{width:330px}
.home_right{width: 415px;margin-top: 40px;}
.home_content{margin-top: 220px;}
.home_logo{float: right;}
.home_content p{text-align:justify}
.home_content h2{margin-bottom: 20px;font-weight: normal;font-size: 30px;font-family: tahoma;}
/*********************Project Page CSS*******************/
.header_content{width:260px}
.boy_img{width:155px}
.side_img{width:330px}
.single_content{padding: 10px;width: 540px;}
.boy_img img{margin-left: 10px;}
.header_content h2{margin-top: 100px;padding-left: 110px;}
.side_img img{margin-left: 190px;margin-top: 70px;}
.single_img{width:155px}
.single_img img{box-shadow: 5px 5px 5px #666666;margin-left: 0px;margin-top: 5px;padding: 10px;}
.single_content p{text-align:center}
/*********************Invite Page CSS*******************/
.invite_inp{width: 100px;margin-left: 120px;}
textarea{border: 1px solid #666666;margin-left: 57px;margin-top: 40px;padding: 5px;width: 260px;}
.invite_email{margin: 10px 10px 10px 57px;padding: 5px;width: 260px;}
.post_button{margin-left: 220px;margin-right: 57px;margin-top: 15px;}
.okay_button{cursor:pointer; margin-right:10px;}
.cancel_button{cursor:pointer;}
/*********************Fund Page CSS*******************/
.post_heading{margin-right: 160px;margin-top: 115px;}
.post_heading h2{margin-left: 146px;}
.post_single{border: 1px solid #666666;box-shadow: 5px 5px 5px #797979;margin: 15px auto;padding: 24px;width: 600px;}
.post_img img{margin-left: 10px;}
.nnew img{}
.post_footer{padding:60px}
.for_pay{margin-top: 20px;}
.post_img{}
/*********************Login Page CSS*******************/
.header_content h2{font-size: 18px;margin-top: 100px;padding-left: 110px;}
.signup_area {margin-left: 135px;margin-top: 80px;}
.social_bookmarks {float: right;margin-top: 82px;margin-right: 80px;}
.login_area{margin-right: 250px;margin-top: 50px;}
.social_bookmarks img{ margin-right: 10px;}
/*********************Post Page CSS*******************/
.about_inp{width: 665px;}
.post_border{border: 1px solid #A8A8A8;padding: 10px;}
.small_box{width: 75px;}
.text_box{width: 285px;}


  
  
}

/*Mobile Layout: 320px.*/
@media only screen and (max-width: 767px) {
.main{width:300px}	
#nav{display:none}
.selectnav{display: block;margin: 40px auto;padding: 4px;}
/*********************About Page CSS*******************/
.home_left{width:140px}
.home_logo{float: right;width:80px}
.home_content{margin-top: 100px;}
.home_content p{font-size: 9px;line-height: 11px;text-align: justify;}
.home_right{width: 158px;margin-top: 5px;}
.home_content h2{margin-bottom: 10px;font-weight: normal;font-size: 23px;font-family: tahoma;}

/*********************Project Page CSS*******************/
.boy_img{width:94px}
.header_content{width:118px}
.side_img{width:60px}
.header_content h2{font-size: 13px;margin-top: 82px;padding-left: 8px;}
.side_img img{margin-left: 0px;margin-top: 70px;width:55px}
.boy_img img{margin-left: 10px;width:87px}
.single_content{padding: 0px;width: 198px;}
.single_img{width:65px}
.single_img img{box-shadow: 5px 5px 5px #666666;margin-left: 0px;margin-top: 5px;padding: 10px; width:30px}
.single_content p{font-size: 10px;line-height: 16px;text-align: center;}
/*********************Invite Page CSS*******************/
.invite_inp{margin-left: 0px;width: 330px;}
textarea{border: 1px solid #666666;margin-left: 57px;margin-top: 40px;padding: 5px;width: 180px;}
.invite_email{margin: 10px 10px 10px 57px;padding: 0;width: 190px;}
.post_button{margin-left: 135px;margin-right: 14px;margin-top: 3px;}
.okay_button{text-indent:-99999px; cursor:pointer; margin-right:10px; float:left;}
.cancel_button{cursor:pointer; float:left}
/*********************Fund Page CSS*******************/
.post_heading{margin-right: 0px;margin-top: 80px;}
.post_heading h2{margin-left: 0px;font-size:19px; margin-right:10px}
.post_img img{width: 90px;margin-left:0px}
.nnew img{width: 65px;}
.post_single{border: 1px solid #666666;box-shadow: 5px 5px 5px #797979;margin: 15px auto;padding: 24px;width: 233px;}
.post_footer{margin-left: 116px;padding: 0;}
.for_pay{margin-top: -20px;}
.post_img{width:90px}
/*********************Login Page CSS*******************/
.social_bookmarks img{margin-right: 10px;width: 25px;}
.social_bookmarks {float: right;margin-top: 82px;margin-right: 0px;}
.signup_area {margin-left: 93px;margin-top: 25px;}
.login_area{margin-right: 55px;margin-top: 15px;}
/*********************Post Page CSS*******************/
.post_border{border: 1px solid #A8A8A8;padding: 3px;}
.about_inp{width: 280px;}
.small_box{width: 200px;}
.text_box{width: 215px;}




}

/*Wide Mobile Layout: 480px.*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
.main{width:450px}
#nav{display:none}
.selectnav{display: block;margin: 40px auto;padding: 4px;}
/*********************About Page CSS*******************/
.home_left{width:210px}
.home_logo{float: right;width:100px}
.home_content{margin-top: 100px;}
.home_content p{font-size: 10px;line-height: 12px;text-align: justify;}
.home_right{width: 235px;margin-top: 5px;}
.home_content h2{margin-bottom: 20px;font-weight: normal;font-size: 30px;font-family: tahoma;}
/*********************Project Page CSS*******************/
.boy_img{width:150px}
.header_content{width:170px}
.side_img{width:100px}
.header_content h2{margin-top: 100px;padding-left: 17px;}
.side_img img{margin-left: 0px;margin-top: 70px;width:100px}
.boy_img img{margin-left: 10px;width:130px}
.single_content{padding: 5px;width: 295px;}
.single_img{width:110px}
.single_img img{box-shadow: 5px 5px 5px #666666;margin-left: 0;margin-top: 5px;padding: 8px;width: 55px;}
.single_content p{text-align:center}
/*********************Invite Page CSS*******************/
.invite_inp{margin-left: 35px;width: 330px;}
textarea{border: 1px solid #666666;margin-left: 57px;margin-top: 40px;padding: 5px;width: 180px;}
.invite_email{margin: 10px 10px 10px 57px;padding: 0;width: 190px;}
.post_button{margin-left: 172px;margin-right: 113px;margin-top: 5px;}
.okay_button{background:url(images/Button-Ok-icon.png) no-repeat scroll 0px 0px; width:50px; height:50px; text-indent:-99999px; cursor:pointer; margin-right:10px; border-radius: 10px 15px 10px 15px; float:left;}
.cancel_button{background:url(images/Button-Delete-icon.png) no-repeat scroll 0px 0px; width:50px; height:50px; text-indent:-99999px; cursor:pointer; border-radius: 10px 15px 10px 15px; float:left}
/*********************Fund Page CSS*******************/
.post_heading{margin-right: 40px;margin-top: 115px;}
.post_heading h2{margin-left: 40px;}
.post_img img{width: 130px;margin-left:0px}
.nnew img{width: 90px;}
.post_single{border: 1px solid #666666;box-shadow: 5px 5px 5px #797979;margin: 15px auto;padding: 24px;width: 380px;}
.post_footer{margin-left: 145px;padding: 0;}
.for_pay{margin-top: -20px;}
.post_img{}
/*********************Login Page CSS*******************/
.social_bookmarks {float: right;margin-top: 82px;margin-right: 0px;}
.signup_area {margin-left: 175px;margin-top: 22px;}
.login_area{margin-right: 130px;margin-top: 15px;}
.social_bookmarks img{ margin-right: 10px;width:50px}
/*********************Post Page CSS*******************/
.post_border{border: 1px solid #A8A8A8;padding: 3px;}
.about_inp{width: 350px;}
.small_box{width: 200px;}
.text_box{width: 285px;}

}
