/* ---------------------------------------------------------------------- */
/*	Footer
/* ---------------------------------------------------------------------- */

@ftColor: #868686;
@ftHoverColor: #f15a23;
@ftBgColor: #3a3a3a;
@ftBorder: #4b4b4b;

#footer {
	background: @ftBgColor;
	color: @ftColor;
	margin-top: 3.2em;
	padding: 1.6em 0 1.2em;
	position: relative;
	a { 
		color: @ftColor;
		&:hover {
			color: @blue;
		} 
	}
	.title {
		border-bottom: 1px solid @ftBorder;
		display: block;
		font-size: .9em;
		margin: 0 0 1.2em;
		padding: 0 0 1.2em;
		text-transform: uppercase;
	}

	/* -------------------------------------------------- */
	/*	Footer Navigation
	/* -------------------------------------------------- */

	#footer-nav {
		border-bottom: 1px solid @ftBorder;
		margin: 0 0 1.2em;
		padding: 0 0 1.2em;

		ul { 
			margin: 0 0 1.2em 0; 
			li {
				float: left;
				list-style: none;
				margin: 0;
				a {
					border-left: 1px solid #484848;
					font-size: .9em;
					display: block;
					padding: 0 1.2em;
//					text-transform: uppercase;
				}
				&:first-child a {
					border-left: none;
					padding-left: 0;
				}
				&:last-child a {
					padding-right: 0;
				}
			}
		}
	}
	/* -------------------------------------------------- */
	/*	Contact Info
	/* -------------------------------------------------- */

	.contact-info {
		li {
			list-style: none;
		}
	}

	.social-links { 
		margin: 0; 
		li {
			display: inline-block;
			list-style: none;
			margin: 0 0 .8em 1.2em;
			a {
				text-decoration: none;
				i {
					width: auto;
					font-size: 2.6em;
				}
			}
			&:nth-child(6n+1) { margin-left: 0; }
			&:nth-child(6n) { margin-right: 1.2em; }
			&:last-child { margin-right: 0; }
		}
	}
}


#footer-bottom {
	background: #303030;
	line-height: 17px;
	padding: 1.2em 0;
	color: @ftColor;
	a { 
		color: @ftColor;
		&:hover {
			color: @blue;
		} 
	}
	ul { 
		margin: 0; 
		li {
			float: left;
			list-style: none;
			margin: 0 0 0 1.2em;
			a {
				border-left: 1px solid @ftBorder;
				display: block;
				padding: 0 1.2em;
			}
			&:first-child { 
				margin-left: 0; 
				a {
					border-left: none;
					padding-left: 0;
				}
			}
			&:last-child { 
				a {
					padding-right: 0; 
				}
			}
		}
	}
}
